* {
  border: none;
  border-radius: 4px;
  font-family: IBMPlexSans, fontawesome, 'Font Awesome 5 Free';
  font-size: 13pt;
  min-height: 0px;
}

window#waybar {
  background-color: rgba(20, 20, 20, 0.8);
  border: 1px solid rgba(40, 40, 40, 0.8);
  border-radius: 4px;
  padding-bottom: 4px;
  color: white;
  transition-property: background-color;
}

window#waybar.hidden {
  opacity: 0.35;
}

#clock,
#battery,
#bluetooth,
#custom-pomodoro,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-net,
#custom-bat,
#tray,
#mode,
#idle_inhibitor,
#custom-idle.activated,
#mpd {
  padding: 2px 5px 2px 5px;
  margin: 0 4px;
}

#bluetooth.disabled,
#custom-idle.deactivated {
  padding: 0;
  margin: 0;
}

#clock {
  font-weight: 600;
}

#custom-pomodoro {
  color: #59c0dc;
}

#workspaces button {
  margin: 0 1px;
  padding: 2px 5px 2px 5px;
  background: transparent;
  color: white;
}

#workspaces button:hover {
  background: rgba(0, 56, 70, 0.7);
  box-shadow: inherit;
}

#workspaces button.visible {
  background: rgba(90, 90, 90, 0.6);
}

#workspaces button.focused {
  background: #999999;
  color: black;
}

#mode {
  background-color: #64727d;
  border-bottom: 1px solid transparent;
}

#temperature.warning,
#battery.warning {
  background-color: #f3c33f;
  color: #000000;
}

#battery.critical,
#temperature.critical,
#workspaces button.urgent {
  background-color: #d32c5d;
}

#battery.charging {
  background-color: transparent;
  color: #2cd895;
}
