* {
  border: none;
  border-radius: 1px;
  font-family: LiberationSans, fontawesome, 'Font Awesome 5 Free Solid';
  font-size: 18px;
  min-height: 0px;
}

window#waybar {
  background-color: rgba(220, 220, 220, 0.8);
  border: 1px solid rgba(140, 140, 140, 0.8);
  border-radius: 4px;
  padding-bottom: 4px;
  color: #000000;
  transition-property: background-color;
}

window#waybar.hidden {
  opacity: 0.35;
}

#clock,
#bluetooth,
#custom-idle,
#custom-pomodoro,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-net,
#custom-bat,
#tray,
#mode,
#idle_inhibitor,
#mpd {
  padding: 2px 5px 2px 5px;
  margin: 0 4px;
}

#clock {
  font-weight: 600;
}

#workspaces button {
  padding: 2px 5px 2px 5px;
  background-color: transparent;
  color: #666666;
  border-bottom: 1px solid transparent;
}

#workspaces button:hover {
  background: rgba(0, 56, 70, 0.7);
  box-shadow: inherit;
}

#workspaces button.visible {
  background: rgba(190, 190, 190, 0.8);
  color: #444444;
  box-shadow: inherit;
  border-bottom: 1px solid transparent;
}

#workspaces button.focused {
  background-color: #279a74;
  color: #ffffff;
  border-bottom: 1px solid transparent;
}

#workspaces button.urgent {
  background-color: #f36464;
  color: #000000;
  font-weight: 600;
  border-bottom: 1px solid transparent;
}

#mode {
  background-color: #64727d;
  border-bottom: 1px solid transparent;
}

#temperature.warning,
#battery.warning {
  background-color: #f3c33f;
  color: #000000;
}

#battery.critical,
#temperature.critical #workspaces button.urgent {
  background-color: #f36464;
  color: #000000;
}

#battery.charging {
  background-color: transparent;
  color: #1d9f6d;
}
